body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#container {
    width: 80%;
    margin: auto;
}

#suggestion {
    position: absolute;
    z-index: 2;
    right: 52%;
}

#weather-infos {
    width: 46%;
}

#weather-map {
    display: flex;
    justify-content:center;
    margin-top: 1.8em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 4em;
    margin: 0.2em;
}

#image-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

#map { 
    width: 44%;
    height: auto; 
}

#meteo-day {
    display: flex;
}

.display {
    display: none;
}